<!DOCTYPE html>
<html lang="en">
  <body>
     <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="final-project.css">
    <title>Jamesons Projects </title>
  </head>
  <body>
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
     <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <a class="navbar-brand" href="#"> Navigation</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#collapsibleNavbar"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- All the different pages in my website are referenced and can be called by selecting on the navigation bar. As of now they are all differnet glitch projects until I learn to keep the different pages in different html files.-->
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="home.html"
              >Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="project.html"
              >Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="vidcode.html"
              >Vidcode</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="final-project.html"
              >Final Project</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="3d-print.html">3D Print</a>
          </li>
        </ul>
      </div>
    </nav>
    <container> </container>
  </body>
    <body
    id="background2"
    background="https://cdn.glitch.com/5158395e-c8e2-41fe-914a-1ba1d4c369b1%2F096a35453660aa9b83ba4ab6d9182d61.jpg?v=1575993721147">
    </body>
    <div style="background-color:white;color:grey;padding:20px;">
      <h1>
        <strong>Introduction</strong>
      </h1>
      <p class="one">
        For my final project this year, I was assigned to help out with constructing and coding the robot for this years VEX robotics competition. The robot's main goal is to be able to pick up, and drop blocks intoour team alliance's corner, to gain as many points as we can.
      </p>
   
      <h1>
        <strong>Engineering</strong>
      </h1>
      <p class="one">
        For the robot, we decided to build it on a H-drive. With it being built on a H-drive, it allows for the robot to move the standard forwards and back, however there is another wheel in the middle allow for the robot to also shuffle left and right, allowing for greater mobility. 
      </p>
       <img align= "middle" src="https://cdn.glitch.com/b0519f4d-ea46-4f33-b317-457b22a5bacb%2FIMG_2765.JPG?v=1577418260858" 
              alt="h-drive" class="h-drive" width="900" height="700">
      <p class="one">
        To pick up the blocks, we're using a intake tread device inorder to lift them. Once one block is picked up, a second can be picked up. The blocks will continue to stack ontop of eachother, allowing us to pick up 4-5 blocks. We then use a piston device to push a main platform up, then to allow us to drop the blocks off into a safe position stacked on eachother.
      </p>
       <video width="900" height="240" controls>
  <source src="https://cdn.glitch.com/b0519f4d-ea46-4f33-b317-457b22a5bacb%2Fchat-media-video-D577EC11-C1DC-4F86-8764-D7FFAB719A49.MOV?v=1577407996359" type="video/mp4">
  <source src="movie.ogg" type="video/ogg">
</video>
      <h1><strong>Strategy</strong></h1>
      <p class="one">
        Our main plan come competition time, is to collect as many cubes as we can, ignoring the towers, and moving straight back to our alliance area, dropping the blocks in a stack onto the area. The towers in our opinion would be a waste of time, due to the fact that it would take time and allignment effort to place a single block into the tower. It's better to collect as many blocks as we can to place and gain as much points as we can before time runs out.
      </p>
       <img align= "middle" src="https://cdn.glitch.com/b0519f4d-ea46-4f33-b317-457b22a5bacb%2FO_SjS6pro.webp?v=1577426456707" 
              alt="strategy" class="strat" width="900" height="500">
       <h1><strong>What I've Learned</strong></h1>
      <p class="one">
        From my final project in helping with the robotics team, I've learned quite a bit. This year, I learned how to function the new Vex coding studio. It proves to be a bit of a challenge, however I've grown to adapt to it. I've also learned new engineering and coding skills that I can utilize for our schoolboards Skill's Ontario team, which may help in our competition this year, and get us at a higher ranking. I'm also sure that after a few competitions using our robot, I will understand what needs to be improved and what can also be added.
      </p>
    </div>
  </body>
</html>