<!DOCTYPE html>
<html lang="en">
  <body>
     <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
 <link rel="stylesheet" href="mybiography-style.css">

    <title>Jamesons Biography </title>
  </head>
  <body>
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
     <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <a class="navbar-brand" href="#"> Navigation</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#collapsibleNavbar"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- All the different pages in my website are referenced and can be called by selecting on the navigation bar. As of now they are all differnet glitch projects until I learn to keep the different pages in different html files.-->
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="home.html"
              >Home</a>
            <li class="nav-item">
            <a class="nav-link" href="log-in.html"
              >Log-in</a>
          </li>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="mybiography.html"
              >My Biography</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://jva.schools.smcdsb.on.ca/"
              >My School</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="project.html">Projects</a>
          </li>
        </ul>
      </div>
    </nav>
    <container> </container>
  </body>
     <body
    id="background1"
    background="http://getwallpapers.com/wallpaper/full/1/b/8/1093128-popular-nature-background-hd-1920x1080.jpg"
  ></body>
   <body>
    
    <div style="background-color:white;color:grey;padding:20px;">
      <h1>
        <strong>Introduction</strong>
      </h1>
      <p class="one">
  To start off, my name is <strong>Jameson.</strong> I was born in Hamilton, Ontario and lived there for for almost twelve years before moving up to the Collingwood area. I’m a very easy going kid and tend to be very responsible for myself. I always attempt to do my best at school, however I tend to rush things a little bit. 
        In my family, I have my father, David Narain, who is a consultant for one of Canada’s largest roofing companies. Next I have my lovely mother, Clarissa Narain, who is currently retired however used to work for Scotiabank. 
        I only have one brother, named Nolan Narain, who currently lives in San Diego playing on a D-1 college basketball team, and finally, I have my dog, Fergus. He is a Miniature Schnauzer who was well- the runt of his pack, however he is a very defensive and loving dog. 
      </p>
      <p>
        <strong>Photo of David and Clarissa Narain</strong>
      </p>
      <img align= "middle" src="https://cdn.glitch.com/5158395e-c8e2-41fe-914a-1ba1d4c369b1%2FDk_SF17UUAAiXAg.jpg?v=1576711396554" 
              alt="Narain's" class="narains" width="900" height="500">
      <p>
        <strong>Photo of Nolan Narain (Far right)</strong>
<img align= "middle" src="https://cdn.glitch.com/5158395e-c8e2-41fe-914a-1ba1d4c369b1%2FCEFFVLqVEAAyGtj.jpg?v=1576717054183" 
              alt="Nolan" class="nolan" width="900" height="500">
      </p>
      <p>
        <strong>Photo of my dog, Fergus</strong>
<img align= "middle" src="https://cdn.glitch.com/5158395e-c8e2-41fe-914a-1ba1d4c369b1%2FDiRkgByXUAA6Y6z.jpg?v=1576717197539" 
              alt="Fergus" class="fergus" width="900" height="600">
      </p>
      <h1>
        <strong>Job Life</strong>
           </h1>
<p class="one">
  During the summer, I will usually work at a golf course called Lora Bay as a backshop member. 
  My main job is to clean carts, handle customers, set the golfing range, and the best job of them all, driving golf carts around. At the golf course, I also work with a few other kids from our school, such as Bronwyn Richter, Thomas Sauder, and Ethan Mortimer.
   </p>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4779.4501937149125!2d-80.49233255676941!3d44.57906288887255!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882a0af18ecb14b1%3A0x70076e172c9fbfca!2sLora%20Bay!5e0!3m2!1sen!2sca!4v1576719335238!5m2!1sen!2sca" width="900" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>   
  <p class="one">
  During the winters however, I work at the arena in thornbury, as the golf club closes after October. The job is pretty simple and easy, mainly just requiring me to sell and maintain the concession stand. The arena also has the benifit that I have a few friends working there, such as Morty/Ethan, and Elliot Leone. The job isn't something I would work for a long time, however it does pay, and its the benifit of watching hockey most days I work.
        </p>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2842.8213684904017!2d-80.46281538447258!3d44.55976037910066!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882a0b2be0dc769d%3A0xb08608524a61d0ea!2sBeaver%20Valley%20Community%20Centre!5e0!3m2!1sen!2sca!4v1576780699448!5m2!1sen!2sca" width="900" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
   <h1>
        <strong>Sports Life</strong>
           </h1> 
      
       <p class="one">
  I play and take part in a variety of sports and activities inside of school and outside. In school, I tend to usually join the swim team, golf team, and track team. Out of the three of these teams I'm on, I love swim team the most due to the people on the actual team. I also love to swim, as it's a pretty good sport to keep p with if you're trying to become fit.
         I do plan in grade 12 to join some other teams, such as Tennis, if I have the time of course. Outside of school, I do swim training outside of school with an instructor to help increase my skills, I snowboard every winter, and every wednesday's and friday's I do boxing! Boxing to me, is my favourite activity to do out of school, as it helps develop my upper body strength mainly, but can also be a stress and anger reliever!
      </p>
      <img align= "middle" src="https://cdn.glitch.com/5158395e-c8e2-41fe-914a-1ba1d4c369b1%2FColBoxingGym_Super_Portrait.jpg?v=1576851710963" 
              alt="shipyards" class="shipyards" width="900" height="600">
     </div>
          <div style="background-color:grey;color:white;padding:20px;">
       <a class="weatherwidget-io" href="https://forecast7.com/en/44d50n80d22/collingwood/" data-label_1="COLLINGWOOD" data-label_2="WEATHER" data-theme="blue-mountains" >COLLINGWOOD WEATHER</a>
<script>
!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src='https://weatherwidget.io/js/widget.min.js';fjs.parentNode.insertBefore(js,fjs);}}(document,'script','weatherwidget-io-js');
</script>
       <p>
         <strong>Website Created and Owned By: Jameson Narain</strong>
                <p id="insta">
<a href="https://www.instagram.com/jnarain12/?hl=en">
<img border="0" alt="Insta" src="https://cdn.glitch.com/5158395e-c8e2-41fe-914a-1ba1d4c369b1%2FeerDTf-logo-instagram-clipart-transparent.png?v=1576526171872" width="70" height="70">
</a>
<a href="https://steamcommunity.com/profiles/76561198133313504">
<img border="0" alt="Steam" 
src="https://cdn.glitch.com/5158395e-c8e2-41fe-914a-1ba1d4c369b1%2Fsteam-icon-19.png?v=1576550918397" width="70" height="70">
</a>
     </p>
       </p>
    </div>
</html>